.fullDescription-column {
  .title {
    padding: 0;
    margin: 0;
  }

  .content {
    padding: 0;
    margin: 0;
  }
}

.genre-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4px;
}

.game-column {
  display: flex;
  gap: 4px;
}
