.fullDescription-column {
  .title {
    padding: 0;
    margin: 0;
  }

  .content {
    padding: 0;
    margin: 0;
  }
}

.genre-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 4px;
}

.game-column {
  display: flex;
  gap: 4px;
}

.heroThumbnails-column {
  display: flex;
  gap: 10px;

  & .heroThumbnails-item {
    display: flex;
    flex-flow: column nowrap;

    & .label {}

    & .img {
      background: url("/transparent.png");
      background-size: 12px 12px;
    }
  }
}
