ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.summary-component {
  &.hide {
    visibility: hidden;
  }

  & .title {
  }
  & .total-num {
  }

  & .genre-list {
    display: flex;
    gap: 4px;
  }

  & .genre-item {
  }

  .data-error {
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
}
