.err-msg {
    & .msg-tip {
        color: red;
    }

    & .msg {
        color: red;
    }
}

.hidden {
    display: none;
}

.game-column {
    display: flex;
    gap: 4px;
}

.game-detail-data {
    width: 600px;
    height: 400px !important;
}

@media (prefers-color-scheme: dark) {  }

